<section class="carousel" id="bannerNew">
  <div class="reel">

    <article>
      <a href="/range#/three/1" class="image featured"><img src="images/salar-atlantic.jpg" alt=""/></a>
      <header>
        <h3><a href="/range#/three/1">Лосось</a></h3>
      </header>
      <p>Охлажденный лосось, Фарерские острова</p>
    </article>

    <article>
      <a href="/range#/semi/1" class="image featured"><img src="images/salmon-on-ice.jpg" alt=""/></a>
      <header>
        <h3><a href="/range#/semi/1">Лосось</a></h3>
      </header>
      <p>Охлажденное филе <br/> Россия</p>
    </article>

    <article>
      <a href="/range#/semi/2" class="image featured"><img src="images/salmon-fillet-on-ice.jpg" alt=""/></a>
      <header>
        <h3><a href="/range#/semi/2">Лосось</a></h3>
      </header>
      <p> Мороженое филе <br/> Россия</p>
    </article>
    <article>
      <a href="/range#/semi/3" class="image featured"><img src="images/smoked.jpg" alt=""/></a>
      <header>
        <h3><a href="/range#/semi/3">Лосось</a></h3>
      </header>
      <p>Филе холодного копчения<br/> Россия</p>
    </article>
    <article>
      <a href="/range#/frozen/2" class="image featured"><img src="images/salmon-on-ice-new.jpg" alt=""/></a>
      <header>
        <h3><a href="/range#/frozen/2">Лосось</a></h3>
      </header>
      <p>Филе лосося свежемороженое Чили</p>
    </article>
    <article>
      <a href="/range#/frozen/1" class="image featured"><img src="images/salmo-salar.jpg" alt=""/></a>
      <header>
        <h3><a href="/range#/frozen/1">Лосось</a></h3>
      </header>
      <p>Лосось мороженный потрошеный, с головой. Чили</p>
    </article>
    <article>
      <a href="/range#/three/2" class="image featured"><img src="images/dicentrarchus.jpg" alt=""/></a>
      <header>
        <h3><a href="/range#/three/2">Сибас</a></h3>
      </header>
      <p>Охлажденный Сибас,<br/> Турция</p>
    </article>

    <article>
      <a href="/range#/three/3" class="image featured"><img src="images/dorado.jpg" alt=""/></a>
      <header>
        <h3><a href="/range#/three/3">Дорадо</a></h3>
      </header>
      <p>Охлажденный Дорадо,<br/> Турция</p>
    </article>


  </div>
</section>

<!-- Main -->
<div class="wrapper style2">
  <article id="main" class="container special">
    <a href="/about" class="image featured"><img src="/images/header1.jpg" alt=""/></a>
    <header>
      <h2><a href="/about">О компании</a></h2>
    </header>
    <p>
      <i>Компания Salmon.su</i> осуществляет свою деятельность с 2012 года. Мы поставляем свежую рыбу лучшего
      качества предприятиям общественного питания. Наши постоянные клиенты — это представители рынка услуг
      сегмента HoReCa: кафе, рестораны, бары и отели.
    </p>
    <p>
      Ряд преимуществ, постоянное развитие в сфере реализации рыбной продукцией и повышение качества
      обслуживания сделало нас одной из востребованных компаний в Санкт-Петербурге.
    </p>
    <footer>
      <a href="/about" class="button">подробней</a>
    </footer>
  </article>
</div>

<div class="wrapper style1">
  <section id="features" class="container special">
    <header>
      <h2>Партнеры компании</h2>
    </header>
    <div class="flexContainer">
      <div>
        <a href="http://www.evrasia.spb.ru/" class="link"><img src="/images/logo/logo-evraziya.png" height="120"/></a>
      </div>
      <div>
        <a href="http://dvepalochki.ru/http://dvepalochki.ru/" class="link"><img src="/images/logo/logo-dve-palochki.jpg" height="120"/></a>
      </div>
      <div>
        <a href="http://spb.2-berega.ru/" class="link"><img src="/images/logo/logo-2-berega.png" height="120"/></a>
      </div>
    </div>
    <div class="flexContainer">
      <div>
        <a href="http://sushiwok.ru/http://sushiwok.ru/" class="link"><img src="/images/logo/logotip_2013.jpg" height="120"/></a>
      </div>
      <div>
        <a href="https://ginza.ru" class="link"><img src="/images/logo/bcabfc2a277dded583908f53d9b0b96b.jpg" height="120"/></a>
      </div>
      <div>
        <a href="http://www.tanuki.ru/" class="link"><img src="/images/logo/01894246.jpg" height="120"/></a>
      </div>
      <div>
        <a href="http://www.okmarket.ru/" class="link"><img src="/images/logo/logo-okey.jpg" height="120"/></a>
      </div>
    </div>
    <div class="flexContainer">
      <div>
        <a href="https://www.x5.ru" class="link"><img src="/images/logo/x5-retail-group-logo-eps-vector-image-crop-u75082.png" height="120"/></a>
      </div>
      <div>
        <a href="http://www.lenta.com/" class="link"><img src="/images/logo/Lenta_logo.png" height="120"/></a>
      </div>
    </div>
  </section>
</div>