<article id="main">
    <header>
        <h2 class="animated fadeInUp">Свежемороженая рыба</h2>
    </header>
    <div class="row">
        <div class="4u 12u(mobile)">
            <section class="animated fadeInRight">
                <div class="row 50%">
                    <div class="10u">
                        <a href="range#/frozen/1" class="image fit"><img src="images/salmo-salar.jpg" alt="" /></a>
                    </div>
                    <div class="10u">
                        <h4><a href="range#/frozen/1">Лосось мороженный потрошеный, с головой</a></h4>
                    </div>
                </div>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="animated fadeInRight">
                <div class="row 50%">
                    <div class="10u">
                        <a href="range#/frozen/2" class="image fit" ng-model="animation"><img src="images/salmon-on-ice-new.jpg" alt="" /></a>
                    </div>
                    <div class="8u">
                        <h4><a href="range#/frozen/2">Филе лосося свежемороженое</a></h4>
                    </div>
                </div>
            </section>
        </div>


        <ui-view></ui-view>
    </div>

</article>