<article id="main" class="animated  fadeIn">
    <header>
        <h3 ng-bind="info.title"></h3>
    </header>
    <div class="row">
        <article class="12u 12u(mobile) special">
            <p>
                Это выбор высококачественной рыбной продукции на любой вкус. Удобный
                вид сотрудничества делает нас востребованными для многих крупных ресторанных сетей и других
                сфер индустрии гостеприимства.
            </p>
            <p>
                Наша работа с партнерами начинается с сайта. У вас есть возможность найти все необходимые товары
                в соответствующем разделе меню слева.
            </p>
            <p>
                В основе нашего ассортимента — это лосось, выловленный в экологически чистых водах Атлантического океана.
            </p>
            <p>
                Описание каждого товара содержит всю необходимую для вас информацию: происхождение, размер и минимальную
                массу заказа, условия хранения и вид упаковки. Внизу описания продукта вы можете скачать прайс-лист.
            </p>
            <p>
                Мы предлагаем продукцию, ассортимент которой удовлетворит все потребности кафе, баров и
                ресторанов в рыбных блюдах:
            </p>
            <ol class="default">
                <li>
                    <b><a href="range#/three/1">Охлажденная рыба.</a></b> В этом разделе вы сможете ознакомиться и скачать прайс-лист для совершения заказа свежего
                    <b><a href="range#/three/1">лосося</a></b>, выловленного в водах Северной Атлантики, <b><a href="range#/three/2">сибаса</a></b> и
                    <b><a href="range#/three/3">дорадо</a></b> — деликатесных видов средиземноморской рыбы.
                </li>
                <li>
                    <b><a href="range#/frozen/1">Свежемороженая рыба</a></b> в нашем ассортименте — это потрошеный <b><a href="range#/frozen/1">лосось</a></b> шоковой заморозки, благодаря которой в рыбе сохраняются все полезные свойства, сочность и нежный вкус.
                </li>
                <li>
                    <b><a href="range#/semi/1">Полуфабрикаты</a></b> — это раздел, где вы можете ознакомиться и заказать три вида <b><a href="range#/semi/1">филе лосося</a></b> — охлажденное, мороженое и копченое.
                </li>
            </ol>
            <p>
                Выбирая  Salmon.su, вы выбираете эффективное ведение бизнеса, первоклассный сервис и разнообразное меню.
            </p>
            <p>
                Если вы заинтересовались нашей деятельностью, и свежая рыба высокого качества — ваша необходимость, то заполните онлайн заявку на сотрудничество по <b><a href="#form" class="scrolly">форме ниже.</a></b>
            </p>
        </article>
    </div>
</article>