<article id="main">
    <header>
        <h2 class="animated fadeInUp">Полуфабрикаты</h2>
    </header>
    <div class="row">
        <div class="4u 12u(mobile)">
            <section class="animated fadeInRight">
                <div class="row 50%">
                    <div class="10u">
                        <a href="range#/semi/1" class="image fit"><img src="images/salmon-on-ice.jpg" alt="" /></a>
                    </div>
                    <div class="8u">
                        <h4><a href="range#/semi/1">Охлажденное филе</a></h4>
                    </div>
                </div>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="animated fadeInRight" >
                <div class="row 50%">
                    <div class="10u">
                        <a href="range#/semi/2" class="image fit"><img src="images/salmon-fillet-on-ice.jpg" alt="" /></a>
                    </div>
                    <div class="8u">
                        <h4><a href="range#/semi/2">Мороженое филе</a></h4>
                    </div>
                </div>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="animated fadeInRight" >
                <div class="row 50%">
                    <div class="10u">
                        <a href="range#/semi/3" class="image fit"><img src="images/smoked.jpg" alt="" /></a>
                    </div>
                    <div class="8u">
                        <h4><a href="range#/semi/3">Филе холодного копчения</a></h4>
                    </div>
                </div>
            </section>
        </div>

        <ui-view></ui-view>
    </div>

</article>