<article id="main">
    <header>
        <h2 class="animated fadeInUp">Охлажденная рыба</h2>
    </header>
    <div class="row">
            <div class="4u 12u(mobile)">
                <section class="animated fadeInRight">
                    <div class="row 50%">
                        <div class="10u">
                            <a href="range#/three/1" class="image fit"><img src="images/salar-atlantic.jpg" alt="" /></a>
                        </div>
                        <div class="8u">
                            <h4><a href="range#/three/1">Лосось</a></h4>
                        </div>
                    </div>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section class="animated fadeInRight">
                    <div class="row 50%">
                        <div class="10u">
                            <a href="range#/three/2" class="image fit"><img src="images/dicentrarchus.jpg" alt="" /></a>
                        </div>
                        <div class="8u">
                            <h4><a href="range#/three/2">Сибас</a></h4>
                        </div>
                    </div>
                </section>
            </div>
            <div class="4u 12u(mobile)">
                <section class="animated fadeInRight">
                    <div class="row 50%">
                        <div class="10u">
                            <a href="range#/three/3" class="image fit"><img src="images/dorado.jpg" alt="" /></a>
                        </div>
                        <div class="8u">
                            <h4><a href="range#/three/3">Дорадо</a></h4>
                        </div>
                    </div>
                </section>
            </div>

            <ui-view></ui-view>
    </div>

</article>