<body class="homepage">
<div id="page-wrapper">
  <!-- Header -->
  <div id="header">
    <!-- Inner -->
    <div class="inner">
      <header>
        <img src="/images/main.png" id="maimPhoto" class="animated zoomInDown"/>
        <hr class="animated fadeInUp" />
        <p class="animated fadeInUp" >Свежая рыба. Всегда.</p>
      </header>
      <footer>
        <a href="#bannerNew" class="button circled scrolly animated fadeInUp">Вперед</a>
      </footer>
    </div>
    <nav id="nav">
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/range#/info">Ассортимент</a></li>
        <li><a href="/about">О компании</a></li>
        <li><a href="/contact">Контакты</a></li>
      </ul>
    </nav>
  </div>
