<div class="wrapper style1">
  <div class="container">
    <article id="main" class="special">
      <!-- Русская версия -->
      <header>
        <h2 class="animated zoomIn">Контакты</h2>
      </header>
      <div class="row">
        <article class="7u 12u(mobile) special">
          <h3>Наименование</h3>
          <p>Общество с ограниченной ответственностью «Салмон.су»</p>
          <h3>Юридический адрес</h3>
          <p>195067, Российская Федерация, Санкт-Петербург, <br/> Непокоренных проспект, д 63, корп. 36 лит. А</p>
          <h3>Фактический адрес</h3>
          <p>195067, Российская Федерация, Санкт-Петербург, <br/> Непокоренных проспект, д 63, корп. 36 лит. А офис. 28</p>
          <h3>Телефон</h3>
          <p>+7 (812) 438-0016</p>
        </article>
        <article class="4u 12u(mobile) special">
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=He6mfpGpZwB9tAUfkMKEC8LiYO2FwF_h&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
        </article>
      </div>
    </article>
    <hr />
    <%= render 'shared/feedback_form' %>
  </div>
</div>
