<div class="wrapper style1">
  <div class="container">
    <article id="main" class="special" style="height: 600px;">
      <!-- Русская версия -->
      <header>
        <h2 class="animated zoomIn">Спасибо</h2>
      </header>
      <div class="row">
          <p style="text-align: center; width: 100%;">
            Мы с вами обезательно свяжемся, как можно скорее
          </p>
      </div>
    </article>
  </div>
</div>
