<div class="wrapper style1">
  <div class="container">
    <article id="main" class="special">
      <!-- Русская версия -->
      <header>
        <h2 class="animated zoomIn">О компании</h2>
        <p class="animated zoomIn">
          Свежая рыба. Всегда.
        </p>
      </header>
      <a href="#" class="image featured"><img src="/images/header1.jpg" alt=""/></a>
      <p>
        <i>Компания Salmon.su</i> осуществляет свою деятельность с 2012 года. Мы поставляем свежую рыбу лучшего
        качества предприятиям общественного питания. Наши постоянные клиенты — это представители рынка услуг
        сегмента HoReCa: кафе, рестораны, бары и отели.
      </p>
      <p>
        Ряд преимуществ, постоянное развитие в сфере реализации рыбной продукцией и повышение качества
        обслуживания сделало нас одной из востребованных компаний в Санкт-Петербурге.
      </p>
      <hr />
      <reviews></reviews>
    </article>
  </div>
</div>
