<div class="left-sidebar">
  <!-- Main -->
  <div class="wrapper style1">

    <div class="container">
      <div class="row">
        <div class="4u 12u(mobile)" id="sidebar">
          <hr class="first" />
          <section>
            <header>
              <h3><a href="range#/info">Выберете продукт</a></h3>
            </header>
            <div class="row 50%">
              <div class="4u">
                <!--<a href="range#/three/1" class="image fit animated infinite bounce"><img src="images/salar-atlantic.jpg" alt="" /></a>-->
                <a href="range#/three/1"  class="image fit"><img src="images/salar-atlantic.jpg" alt="" /></a>

              </div>
              <div class="8u">
                <h4><a href="range#/three/1">Охлажденная рыба</a></h4>
                <p>Лосось, Сибас, Дородо</p>
              </div>
            </div>
            <div class="row 50%">
              <div class="4u">
                <a href="range#/frozen/1" class="image fit"><img src="images/salmo-salar.jpg"  alt="" /></a>
              </div>
              <div class="8u">
                <h4><a href="range#/frozen/1">Свежемороженая рыба</a></h4>
                <p>
                  Лосось мороженный
                </p>
              </div>
            </div>
            <div class="row 50%">
              <div class="4u">
                <a href="range#/semi/1" class="image fit"><img src="images/salmon-fillet-on-white-background-281064059.jpg" alt="" /></a>
              </div>
              <div class="8u">
                <h4><a href="range#/semi/1">Полуфабрикаты</a></h4>
                <p>
                  Полуфабрикаты из лосося
                </p>
              </div>
            </div>
          </section>
        </div>

        <div class="8u 12u(mobile) important(mobile)" id="content">
          <ui-view ></ui-view>
        </div>

      </div>
      <hr />
      <contact-form></contact-form>
    </div>
  </div>
</div>
